.navbar-custom {
    background-color: #4e2582;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #ffee01;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .nav-link:hover {
    background-color: #35195B;
    color: #E5D600;
}

#loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}