@media only screen and (max-width: 1000px) {
    #welcome-text {
        font-size: 3em;
    }
    #social-div>.fa, #social-div>.fab {
        font-size: 60px;
        width: 120px;
        height: 120px;
        line-height: 120px;
    }
    .carousel-item>img {
        min-height: 25vh;
        max-height: 25vh;
    }
}

.carousel-item>img {
    min-height: 75vh;
    max-height: 75vh;
}

#welcome-div, #social-div {
    margin-top: 60px;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

#welcome-text {
    margin-top: 20px;
    font-size: 1.25em;
}

#social-div>.fa:hover, #social-div>.fab:hover {
    text-decoration: none;
    background-color: white;
    color: rgb(23, 98, 118);
}

#insta-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 60px;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

#insta-div>* {
    max-width: 30%;
    margin-bottom: 2.5%;
    flex: 0 0 32%;
}

#insta-div>*>img {
    max-width: 100%;
}

#insta-div>*>img:hover {
    transform: scale(1.1);
}