@media only screen and (max-width: 1000px) {
    #table th, #table td {
        font-size: 3em;
    }
}

#table th, #table td {
    font-family: mont;
    color: white;
}

#table, #table>thead, #table>thead>tr {
    border-top: none;
}

#table {
    margin-top: 50px;
}