.phisigpurple {
    background-color: #4e2582;
}

.phisignavitem {
    color: #ffee01;
}

.phisignavitem:hover {
    background-color: #35195B;
    color: #E5D600;
}

#loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}