<!DOCTYPE html>

<html>

<head>
    {% load static %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'checkin/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'checkin/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'checkin/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'checkin/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'checkin/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <script src="{%  static 'checkin/vendor/js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'checkin/vendor/js/popper.min.js' %}"></script>
    <script src="{% static 'checkin/vendor/js/jquery-ui.js' %}"></script>
    <script src="{% static 'checkin/vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'checkin/vendor/js/bootstrap-select.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'checkin/vendor/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'checkin/vendor/css/jquery-ui.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'checkin/vendor/css/jquery-ui.structure.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'checkin/vendor/css/jquery-ui.theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'checkin/vendor/css/bootstrap-grid.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'checkin/vendor/css/bootstrap-reboot.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'checkin/vendor/css/bootstrap-select.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'checkin/css/base.css' %}">
    <script src="{% static 'checkin/js/base.js' %}"></script>

    {% block head %}

    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-custom">
        <a class="navbar-brand px-2" href="#">ΦΣΠ - ΑΚ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarExtra" aria-controls="navbarExtra" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarExtra">
            <ul class="navbar-nav mr-auto flex-row">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="forSiblingsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        For Siblings
                    </a>
                    <div class="dropdown-menu" aria-labelledby="forSiblingsDropdown">
                        <a class="dropdown-item" href="/checkin/">Check In</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        {% block content %}

        {% endblock %}
    </div>

    <img src="{% static 'checkin/img/spinner.gif' %}" id="loader" alt="Loader..." style="display:none;">
</body>

</html>