<!DOCTYPE html>

<html>

<head>
    {% load static %}
    <script src="{%  static 'checkin/vendor/js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'checkin/vendor/js/jquery-ui.js' %}"></script>
    <script src="{% static 'checkin/vendor/js/bootstrap.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'checkin/vendor/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'checkin/vendor/css/jquery-ui.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'checkin/vendor/css/jquery-ui.structure.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'checkin/vendor/css/jquery-ui.theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'checkin/vendor/css/bootstrap-grid.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'checkin/vendor/css/bootstrap-reboot.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'checkin/css/base.css' %}">
    <script src="{% static 'checkin/js/base.js' %}"></script>

    {% block head %}

    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg phisigpurple">
        <a class="navbar-brand phisignavitem px-2" href="#">ΦΣΠ - ΑΚ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarExtra" aria-controls="navbarExtra" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">

        </div>
    </nav>

    <div class="container-fluid">
        {% block content %}

        {% endblock %}
    </div>

    <img src="{% static 'checkin/img/spinner.gif' %}" id="loader" alt="Loader..." style="display:none;">
</body>

</html>