{% extends 'root/base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'ipanel/css/index.css' %}">
<script src="{% static 'ipanel/js/index.js' %}"></script>
{% endblock %}

{% block content %}
<div class="main-div">
    <h1>I-Panel</h1>
    <figure>
        <blockquote>
            <p>
                Hello everyone, and welcome to I-Panel! As the SOPs say, "in short, the Open Recruitment I-Panel screens
                out undesirable candidates, while the Closed Recruitment I-Panel selects the most desirable candidates"
                It is often said that you owe your attention here to those that came before you who gave you the
                appropriate consideration to become a contributing member of this organization. Thank you to all of
                y'all who are here. At the same time, as the great Wade Tuttle says, "We're not here to find good, we're
                here to find great." I am excited to spend the next several hours with you all, but there's some things
                that I would like everyone to keep in mind.
            </p>
            <p>
                I'm the first person to want to only see the best in people, but it is okay to con people. Even if
                everyone else is talking about wonderful experiences, your experience is just as valid and means to be
                heard.
            </p>
            <p>
                Please turn your "neutral" comments into points of information. At the same time, please do not respond
                to anyone's comments: please no "going off what Taylor said" or implicit responding. If someone says "I
                found this person to be rude and untalkative" do not respond with "My experience was that they were
                friendly."
            </p>
            <p>
                Please just state your experience as a fact.
            </p>
            <p>
                Please do not compare PNMs.
            </p>
            <p>
                Also, assume best intentions, and trust your sibs' experiences. Everyone's experience is valid.
            </p>
            <p>
                Further, do not summarize your entire experience in one comment (with the exception of the Rush Buddy
                comment). I will call on you multiple times, I promise!
            </p>
            <p>
                Since this is Closed I-Panel and Rush Buddies will begin discussion, I have a couple things to note. I
                do not care how long you met with them or where you met. Tell me about your experience and help everyone
                know how they might (or might not) fit into this organization.
            </p>
            <p>
                Finally, some administrative things, please speak loudly and stand if you need to; there are people (and
                by people, I mean Maris) who are hard of hearing.
            </p>
            <p>
                Also, please limit movement and side chatter during discussion. I also ask y'all to please limit the use
                of technology devices to voting and I-Panel-related purposes alone. If we all avoid social media, doing
                homework, and other activities, then we will get through this that much quicker.
            </p>
            <p>
                You are all smart, perceptive people, and I believe in you. There will be breaks, I promise. Let's have
                a great night of fun together, and find our next littles, study buddies, friends, and squirrels!
            </p>
        </blockquote>
        <figcaption>
            Taylor Smith, Paraliamentarian
        </figcaption>
    </figure>
    <div id="table-div">
        <div id="adams-tips">
            <h3>Adam's Tips</h3>
            <ul>
                <li>
                    Bring your stuff for I-Panel and leave it in a friend's car so you don’t have to go back home and
                    then show up to I-Panel late (if they need a car to put it in they can text Sarah Stephens)
                </li>
                <li>
                    Bring your own mug to be sustainable if that’s your thing
                </li>
                <li>
                    Write out your comments for people in your notes so that when it is time to give your pro/con you
                    can be concise
                </li>
                <li>
                    Comfy clothes
                </li>
                <li>
                    If you wear contacts, bring your glasses
                </li>
                <li>
                    Don't be afraid to speak up on an experience you had with a PNM contrary to someone else, even if
                    the room seems to disagree
                </li>
                <li>
                    We're not supposed to come to a consensus, so everyone's opinions are valid! If you had a different
                    experience than someone else, you have just as much right as anyone to voice it! If you're nervous
                    about it, text a mediator.
                </li>
                <li>
                    Take notes during the events (especially Friday) so you can read them during I-Panel! Just step out
                    of the room for like 3 minutes (during events) that way you’re not struggling to remember the
                    conversation come Friday
                </li>
            </ul>
        </div>
        <div id="info-div">
            <h3>For Your Information</h3>
            <p>Important Contact Information:</p>
            <ul>
                <li>Mediator: Elizabeth Wilson: (704) 620-4165</li>
                <li>Mediator: Yelly Gomes: (908) 376-8249</li>
                <li>President: Maris Thomson: (704) 615-1639</li>
                <li>Vice President: Isabel Ghica: (704) 840-5212</li>
                <li>Parliamentarian: Taylor Smith: (919) 622-5071</li>
            </ul>

            <p>
                Before we begin, we need you to fill out the Subrosa form to indicate that you understand how this
                process is going to work and that you understand you cannot share anything that happens in this room
                with anyone.
            </p>

            <button id="subrosa" class="butt">Subrosa Form</button>

            <p>
                After you have completed this form, you must get your code for I-Panel by going <a target="_blank"
                    rel="noopener noreferrer" href="/ipanel/register/">here</a>. This will be your code for the
                remainder of I-Panel, so please keep it somewhere. You can also return to the page to get your code
                again.
            </p>

            <p>
                After a given block of PNMs, we will vote on them. This will happen <a target="_blank"
                    rel="noopener noreferrer" href="/ipanel/vote/">here</a>. The mediators will have to open up the PNMs
                for you to vote on them, so if you do not see any voting blocks, please stay patient and wait for them
                to open up.
            </p>
        </div>
    </div>
    <h2>Mediator Information</h2>
    <p>To generate I-Panel information for PNMs, please go <a href="/ipanel/generate/" target="_blank"
            rel="noopener noreferrer">here</a>.</p>
    <p>To check and change the status of PNMs, please go <a href="/ipanel/status/" target="_blank"
            rel="noopener noreferrere">here</a>.</p>
</div>
{% endblock %}