{% extends 'root/base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'ipanel/css/status.css' %}">
<script src="{% static 'ipanel/js/status.js' %}"></script>
{% endblock %}

{% block content %}
<div class="main-div">
    <form id="statusForm" class="my-2">
        {% csrf_token %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Locked</th>
                    <th scope="col">Open</th>
                </tr>
            </thead>
            <tbody id="tbodyStatus">

            </tbody>
        </table>
        <button id="submit" type="submit" class="btn btn-primary">Save</button>
    </form>
</div>

<div class="modal" tabindex="-1" role="dialog" id="statusModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="statusModalTitle">Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="statusModalContent">Body</p>
                <p id="statusModalErrors"></p>
            </div>
            <div class="modal-footer">
                <button id="modalButton" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}