{% extends 'root/base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'ipanel/css/vote.css' %}">
<script src="{% static 'ipanel/js/vote.js' %}"></script>
{% endblock %}

{% block content %}
<div class="main-div my-2">
    <h1>IPanel Voting</h1>
    <div id="votes">
        <form method="POST" id="voteForm">
            {% csrf_token %}
            <div id="onyen-div" class="form-group">
                <label class="sr-only">Onyen:</label>
                <input type="text" required class="form-control" name="onyen" placeholder="Onyen" id="onyen"
                    autocorrect="off" autocapitalize="none">
            </div>
            <div id="passcode-div" class="form-group">
                <label class="sr-only">Passcode:</label>
                <input type="text" required class="form-control" name="passcode" placeholder="Your Code" id="code"
                    autocorrect="off" autocapitalize="none">
            </div>
            <button type="submit" class="btn btn-primary mt-2" id="votebtn">Vote</button>
        </form>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="voteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="voteModalTitle">Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="voteModalContent">Body</p>
                <p id="voteErrorContent"></p>
            </div>
            <div class="modal-footer">
                <button id="modalButton" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}