@font-face {
    font-family: bebas;
    src: url('/static/root/fonts/BebasNeue-Regular.otf');
}

@font-face {
    font-family: mont;
    src: url('/static/root/fonts/Montserrat-ExtraLight.ttf');
}

@media only screen and (max-width: 1000px) {
    p {
        font-size: 3em;
    }
    h1 {
        font-size: 5em;
    }
    h2 {
        font-size: 4em;
    }
    h3 {
        font-size: 3em;
    }
    h4 {
        font-size: 2.5em;
    }
    nav a {
        font-size: 3em;
    }
    #footer h3 {
        font-size: 3.5em;
    }
    #footer h4 {
        font-size: 3.25em;
    }
    #footer a, #footer p {
        font-size: 2.5em;
    }
    #toggle {
        min-height: 60px;
        max-height: 60px;
        min-width: 60px;
        max-width: 60px;
        line-height: 60px;
        text-align: center;
        text-decoration: none;
    }
    #toggle>span {
        left: 0;
        top: 0;
        display: block;
        position: relative;
        line-height: 60px;
        width: 100%;
        height: 100%;
    }
    #toggle .fa-bars {
        padding-bottom: 30px;
        font-size: 30px;
        left: 0;
        top: 0;
        position: relative;
    }
    #social-footer>a.fab, #social-footer>a.fa {
        font-size: 45px;
        width: 90px;
        height: 90px;
        line-height: 90px;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 1001px) {
    #toggle {
        min-height: 30px;
        max-height: 30px;
        line-height: 30px;
        min-width: 30px;
        max-height: 30px;
    }
}

#toggle {
    color: rgb(23, 98, 118);
    background-color: white;
}

.fa-bars {
    color: rgb(23, 98, 118);
}

.navbar-custom {
    margin: auto;
}

.navbar-custom .navbar-brand, .navbar-custom .nav-link {
    color: #fff;
}

.navbar-custom .navbar-brand:hover, .navbar-custom .nav-link:hover {
    background-color: rgb(23, 98, 118);
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
}

#first-nav-item {
    margin-right: auto;
}

#last-nav-item {
    margin-left: auto;
}

.nav-item {
    font-family: bebas;
    font-size: 2em;
    padding-left: 20px;
    padding-right: 20px;
}

#loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#banner {
    width: 100%;
}

body {
    background-color: rgb(87, 176, 170);
}

h1, h2, h3, h4, h5 {
    font-family: bebas;
    color: white;
}

p, #footer>div>a {
    font-family: mont;
    color: white;
}

#footer {
    bottom: 0;
    position: relative;
    padding-top: 25px;
    background-color: rgb(23, 98, 118);
    padding-bottom: 25px;
}

#footer>div {
    display: table-cell;
    width: 49%;
    height: 100%;
}

#contact-div>a {
    text-decoration: underline;
}

#contact-div>a:hover {
    font-weight: bold;
}

#contact-div>*, #connect-div>* {
    margin-left: 10%;
    margin-right: 10%;
    display: block;
}

#social-footer>.fa, #social-footer>.fab {
    border-radius: 0%;
    color: rgb(23, 98, 118);
    background-color: white;
}

#social-footer>.fa:hover, #social-footer>.fab:hover {
    text-decoration: none;
    border: 1px solid white;
    color: white;
    background-color: rgb(23, 98, 118);
}

#connect-div>* {
    position: relative;
    top: 0;
}

.fa, .fab {
    font-size: 30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: rgb(23, 98, 118);
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.main-div {
    margin-left: 10%;
    margin-right: 10%;
    border-top: 1px solid rgb(23, 98, 118);
}