
@media only screen and (max-width: 1000px) {
    #welcome-text {
        font-size: 3em;
    }
    #social-div>.fa, #social-div>.fab {
        font-size: 60px;
        width: 120px;
        height: 120px;
        line-height: 120px;
    }
    
}

@media only screen and (min-width: 1001px) {
    #welcome-text {
        font-size: 1.25em;
    }
    
}


.carousel-img {
    width: 100vh;
}

#welcome-div, #social-div {
    margin-top: 60px;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

#welcome-text {
    margin-top: 20px;
}

#welcome-div h1 a {
    font-family: mont;
    color: white;
    text-decoration: underline;
}

#welcome-div h1 a:hover {
    font-weight: bold;
    color: white;
}

#social-div>.fa:hover, #social-div>.fab:hover {
    text-decoration: none;
    background-color: white;
    color: rgb(23, 98, 118);
}

#insta-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 60px;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

#insta-div>* {
    max-width: 30%;
    margin-bottom: 2.5%;
    flex: 0 0 32%;
}

#insta-div>*>img {
    max-width: 100%;
}

#insta-div>*>img:hover {
    transform: scale(1.1);
}

iframe {
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}