@media only screen and (max-width: 1000px) {
    #modalButton {
        font-size: 2em;
    }
    th, td {
        font-size: 2em;
    }
    input[type=checkbox] {
        width: 50px;
        height: 50px;
    }
    #submit {
        font-size: 2em;
        width: 100%;
    }
    h5 {
        font-size: 3em;
    }
}

@media only screen and (min-width: 1001px) {
    input[type=checkbox] {
        width: 25px;
        height: 25px;
    }
}

thead>tr {
    background-color: rgb(23, 98, 118);
}

th, td {
    font-family: mont;
    color: white;
}

div.modal p {
    font-family: mont;
    color: black
}

div.modal h5 {
    font-family: bebas;
    color: black;
}