{% extends 'root/base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'root/css/documents.css' %}">
{% endblock %}

{% block content %}
<div class="main-div">
    <h1>Important Documents</h1>
    <div id="docs">
        <h2>Elections</h2>
        <a class="butt"
            href="https://docs.google.com/presentation/d/14U_7pBhDsTk-TvgNPtTGX3IoyiOvAAsfMLVk3I8EE18/edit?usp=sharing"
            target="_blank" rel="noopener noreferrer">Exec Election Slides - Quarantine Edition</a>

        <h2>Important Overall Documents</h2>
        <a class="butt" href="{% static 'root/docs/national_constitution.pdf' %}" download>National Constitution</a>
        <a class="butt" href="{% static 'root/docs/bylaws.pdf' %}" download>Alpha Kappa Bylaws</a>
        <a class="butt" href="{% static 'root/docs/sops.pdf' %}" download>Alpha Kappa Standard Operating Procedures</a>

        <h2>Bylaw Proposal(s)</h2>
        <a class="butt"
            href="https://docs.google.com/document/d/1yj1MY0fl8PHpuzgrN6ZxEjW50zzHK-cNkk9ch4pLk_k/edit?usp=sharing"
            target="_blank" rel="noopener noreferrer">I-Panel SOPs - Proposed 2/19/20, Vote 2/26/20 - PASSED</a>

        <h2>Other Helpful Links</h2>
        <a class="butt" href="https://calendar.google.com/calendar/b/1?cid=cHNwYWtsZWFkZXJzaGlwQGdtYWlsLmNvbQ"
            target="_blank" rel="noopener noreferrer">Google Calendar</a>
        <a class="butt"
            href="https://docs.google.com/presentation/d/14E6A-oTkINVVZ-eURWcNlcThkCMdfKti3sBQP17vx3o/edit?usp=sharing"
            target="_blank" rel="noopener noreferrer">Phi Sig Basics</a>
        <a class="butt"
            href="https://docs.google.com/document/d/1InZSpP2Zc_UAAMX3u8b9ZIc8fGkx3bEjSeu8vhgMLfQ/edit?usp=sharing"
            target="_blank" rel="noopener noreferrer">Excuses 101</a>
        <a class="butt" href="http://phisigmapi.web.unc.edu/brother-excuse-form/" target="_blank"
            rel="noopener noreferrer">Excuse Form</a>
        <a class="butt"
            href="https://docs.google.com/document/d/1aDSoUWz1yOZaQtXG1WP9ffer1e-AEIvGtLDvB8-QzOI/edit?usp=sharing"
            target="_blank" rel="noopener noreferrer">Alternative Fines Overview</a>
        <a class="butt"
            href="https://docs.google.com/forms/d/e/1FAIpQLSd_mfT97Eco0hOqtItAwloC24m49aGAhR4RAEF0OBlf_vUP1A/viewform"
            target="_blank" rel="noopener noreferrer">Alternative Fines Form</a>

        <h2>Recruitment and Initiation Documents</h2>
        <a class="butt" href="{% static 'siblings/docs/BigSheet.docx' %}" download>Big Sheet</a>
        <a class="butt" href="{% static 'recruitment/forms/Recruitment Packet Spring 2020.pdf' %}" download>Recruitment
            Packet</a>

        <h2>Service</h2>
        <p>Learn more about random acts of kindness <a rel="noopener noreferrer" target="_blank"
                href="https://www.randomactsofkindness.org/">here</a>.</p>
        <a class="butt" rel="noopener noreferrer" target="_blank"
            href="https://docs.google.com/forms/d/e/1FAIpQLSflO2ddhxp5pMGBrU56VlfsFS80FHbaSx6D852fV-FnGfK6AQ/viewform">Random
            Acts of Kindness Form</a>
        <a class="butt" rel="noopener noreferrer" target="_blank"
            href="https://docs.google.com/forms/d/1MQglCWooFoqkb-KbU0DE1NhihE7b4UTK39oVzH1QCeY/viewform?ts=5e1f976a&edit_requested=true">Service
            Hours Form</a>
    </div>
</div>
{% endblock %}