{% extends 'root/base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'recruitment/css/about.css' %}">
{% endblock %}

{% block content %}
<div class="main-div" id="about-recruitment">
    <h1>About Recruitment</h1>
    <p>
        We're happy to see you're interested in joining the PSP family! Recruitment is a two-week-long process that
        gives you the opportunity to learn more about the fraternity and us a chance to get to know you. The activities
        are designed to introduce the valuees of the fraternity to Potential New Members (PNMs). Check out the following
        video to see what we're all about!
    </p>

    <p>
        If you have any questions about any of the information you read below, please contact Emily Murray and
        Will Bucher, the Recruitment Co-Chairs, at <a target="_blank" rel="noopener noreferrer"
            href="mailto:pspakrecruitment@gmail.com">pspakrecruitment@gmail.com</a>.
    </p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/bPiynuBuqmw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h2>Recruitment: The Process</h2>

    <p><b>Open Recruitment</b></p>

    <p>
        The first week of Recruitment is “open,” meaning that everyone who meets the eligibility requirements may attend
        any (and all) of the scheduled events! By attending these fun events, you will get to know the Siblings and
        other PNMs and help the Siblings get to know you! These events will help us determine whether or not to invite
        you back for the second week of recruitment, Closed Recruitment.
    </p>

    <p>
        To be eligible to be invited back for Closed, you will need to attend three out of the four events during Open
        Recruitment, one of which <b>must</b> be the Friday event. You will also need to complete the Open Recruitment
        Fact Sheet that will be emailed to you (or which can be found under "<a href="/recruitment/forms/">Recruitment
            Forms</a>").
    </p>

    <p>
        We understand that you may have some scheduling conflicts, so if you cannot meet one of the requirements, please
        notify our Recruitment Chairs, Emily and Will, as soon as possible at <a target="_blank"
            rel="noopener noreferrer" href="mailto:pspakrecruitment@gmail.com">pspakrecruitment@gmail.com</a>.
    </p>

    <p><b>Closed Recruitment</b></p>

    <p>
        After Open Recruitment, we will notify and invite back the applicants that we feel may be the best fit for Phi
        Sigma Pi. Only those notified by the Recruitment Chairs are invited to attend the events of Closed Recruitment,
        and it is from these Potential New Members that the next class of Phi Sigma Pi Initiates will be chosen.
    </p>

    <p>
        During the week of Closed Recruitment, it is required that you attend three out of the four events, one of which
        <b>must</b> be the Friday event. Dress for the Friday event is business casual (think "class presentation"
        dresscode). Again, if you know you will have a scheduling conflict, please notify the Recruitment chairs, Callie
        and Francisco, before the event.
    </p>

    <p><b>Decisions and Invitations to Become a Sibling</b></p>

    <p>
        After the two weeks of Recruitment are over, select Potential New Members will be invited to join the new
        initiation class. Decisions will be sent out early on the Saturday morning following the last day of Closed
        Recruitment.
    </p>

    <h2 id="how-to">How to Make the Most of Recruitment</h2>

    <p>
        The recruitment process is meant to be a fun experience that helps you get to know Phi Sigma Pi and to help Phi
        Sigma Pi get to know you! It is very important that the siblings get to know you during Recruitment, so make the
        effort to talk to them during events! Because we are a large fraternity, we encourage you to focus on the
        quality of your conversations and relationships with the Siblings that you do have the chance to meet. The
        Siblinghood chooses future members based on their commitment to the three ideals of the Tripod and the ideas,
        service, or leadership that they can bring to the fraternity.
    </p>

    <p id="asterisk">
        For more detailed recruitment information, please check out our Spring 2021 recruitment packet, found <a
            href="{% static 'recruitment/forms/Recruitment Packet Spring 2020.pdf' %}" download>here</a>
        or under <a target="_blank" rel="noopener noreferrer" href="/recruitment/forms/">"Recruitment Forms"</a>!
    </p>
</div>

{% endblock %}