{% extends 'root/base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'recruitment/css/requirements.css' %}">
{% endblock %}

{% block content %}
<div class="main-div" id="req-div">
    <h1>Requirements & Eligibility</h1>

    <h2>Eligibility</h2>

    <p>
        Recruitment is open to 2<sup>nd</sup>-semester First Year students through 2<sup>nd</sup>-semester Juniors with
        an <b>unrounded UNC GPA of 3.0</b> or higher.
    </p>

    <p>
        Recruitment is also open to transfer students with at least one semester of UNC-CH coursework with an
        <b>unrounded 3.0</b> GPA or higher.
    </p>

    <h2>Requirements</h2>

    <p>
        During Open Recruitment, you will need to attend three out of the four events, one of which <b>must</b> be the
        Friday event. You will also need to complete the Open Recruitment Fact Sheet that will be emailed to you (or
        which can be found under "<a href="/recruitment/forms/">Recruitment Forms</a>").
    </p>

    <p>
        If invited back to Closed Recruitment, it is required that you attend three out of the four events, one of which
        <b>must</b> be the Friday event. Dress for the Friday event is business casual (think "class presentation"
        dresscode). Again, if you know you will have a scheduling conflict, please notify the Recruitment chairs, Callie
        and Francisco, before the event.
    </p>
</div>
{% endblock %}