{% extends 'root/base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'recruitment/css/schedule.css' %}">
{% endblock %}

{% block content %}
<div class="main-div">
    <h1>Schedule</h1>

    <p>
        You can find our Fall 2020 recruitment schedule below! If you have any conflicts, please let the recruitment
        co-chairs, Callie and Fran, know beforehand! All of our Open Recruitment events are posted with more detailed
        descriptions <a target="_blank" rel="noopener noreferrer"
            href="https://heellife.unc.edu/organization/phisigpi">on Heellife</a>.
    </p>

    <p>
        See the "<a href="/recruitment/requirements/">Eligibility and Requirements</a>" section for more detailed
        requirements. Feel free to contact Recruitment with any questions at <a target="_blank"
            rel="noopener noreferrer" href="mailto:pspakrecruitment@gmail.com">pspsakrecruitment@gmail.com</a>!
    </p>


    <img id="schedule" src ="{% static 'recruitment/img/Fall2020.jpeg' %}" alt="Fall2020Schedule">

    <p><strong>Game Night </strong> - split into breakout rooms with siblings and other potential new members and play mad libs</p>
    <p><strong>Speed dating</strong> - split into breakout rooms with siblings and other potential new members and answer fun "getting to know you" questions. The questions will be available here before the event!</p> 
    <div style = "text-align:center;">
        <object width = 560px height = 600px data="{% static 'root/data/Speed Dating Fall 2020.pdf' %}"></object>
    </div>
    <p><strong>Jackbox Games</strong> - split into breakout rooms and play Jackbox Games with siblings and other potential new members</p>
    <p><strong>Show and Tell</strong> - come with something that you'd like to show off! This can be a hobby you have, a pet, something you've made, or even just a fun hat! It can be anything you'd like.</p>
    <p><strong>Required Friday Event</strong> - split into breakout rooms with siblings and other potential new members and get to know everyone more!</p>

</div>
{% endblock %}