{% extends 'root/base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'root/css/2020goodbye.css' %}">
{% endblock %}

{% block content %}
<div class="main-div">
    <h1>
        Isabel
    </h1>

    <p class="head-p">
        Hello siblings!!!
    </p>

    <p>
        I wanted to say a short little something before my time at UNC and in Phi Sigma Pi ends. I wanted to thank ALL
        of you for providing the opportunity for me to grow as an individual in this organization. From my first
        recruitment event through now, I have always felt so comfortable around you all and I always feel like I can
        fully be my true self. Thank you for providing me with leadership opportunities that have taught me lessons I
        will take with me post-graduation. Thank you for giving me friendships that I will be forever grateful for.
        Thank you for opening your hearts and letting me be apart of this organization, which I have come to think of as
        a family. I will always, always, ALWAYS remember the one place that I could finally call my organization, my
        niche, and my home. I cherish every single one of you and I am so blessed to be in this organization and I am
        PROUD to become an alumna. I thank each and every one of you for accepting me for who I am and always reaching
        out your hand in friendship. All of you can always contact me even after I graduate, with questions about phi
        sig, UNC, or anything. I know every single one of you will do amazing things with the rest of your time at UNC
        and after, and I can’t wait to hear all about it!!! I will always be here for y’all, and I can’t believe I’m at
        the time where I actually just wrote this. I love you all and I love this fraternity.
    </p>

    <p>
        “I wish there was a way to know you’re in the good old days before you’ve actually left them.” -Andy Bernard
        from the best show of all time! I wish this semester didn’t have to end the way it is, and I wish I could still
        squeeze in a few more of those good old days in person.
    </p>

    <p>
        Thank you all for being the siblings I never had and always wanted -
    </p>

    <p class="sig">
        With love,
    </p>

    <p>
        Isabel Ghica :)
    </p>

    <h1>Justin</h1>

    <p class="head-p">
        Dear Phi Sig,
    </p>

    <p>
        Thanks for letting me be your money raccoon. It was a pleasure to handle your money and become acquainted with
        your Venmo handles over the past year.
    </p>

    <p>
        I will be around for grad school next year, so don't be a stranger! In the meantime, please add me on Facebook,
        LinkedIn, or Nintendo Switch (SW-2888-4097-7683). I hope to see all around of you around campus, or my Animal
        Crossing island, Bip Bop. And always remember, if you ever have to choose between the good and new or the old
        and bad, always veer towards the side of the new and good.
    </p>

    <p class="sig">
        Love,
    </p>

    <p>
        Justin Do
    </p>

    <h1>
        Taylor
    </h1>

    <p class="head-p">
        Dear Phi Sig:
    </p>

    <p>
        I’ve sat down several times to do this now, and each time the words that I have in my head just don’t come out
        onto the page. But none of that came out quite right, so this time I’ll just speak from the heart.
    </p>

    <p>
        Phi Sig, to me, has always been about the people. It is the people I met on a trip to see the solar eclipse
        (which, wildly enough to me, happened while many of you were still in high school) that convinced me to jump out
        of my comfort zone and go to an interest meeting. (You could also argue I was just following Adam because I had
        no ability to go out and do my own thing and, while that’s savage, it’s probably true, though I digress.) It was
        Cat, who was the first stranger I ever met to make me friend them on Snapchat, and Matt, who everyone kept
        making jokes about, and Wade, this strange old man who for some reason was tagging along with a bunch of college
        kids, who were Adam’s fam but would become my fam. These people would give me an introduction to the group of
        people who have change my life. The people I have met in Phi Sig have expanded my perspective, helped me to
        think about the world in different ways, made me more intentional, and taught me more about life and love than
        they could ever know. It is these people that have formed the foundation of my college experience, and with whom
        I’ve made so many incredible memories. So, to the Best Damn Fam Phi Sig has to offer (Matt, Micah, Wade, Cat,
        Michael, Brooks, Maris, Adam, Sarah V., Maggie, Evan, Michelle, Sarah S., Tori, Anna P., Abby, Grace, Vignesh,
        Anna H., and, of course, my two wonderful littles, Katie and Emily) and the many, many others (among whom Libby
        and the greatest class ever, the Beta Zetas, deserve special shoutouts) in Phi Sig who have touched my soul and
        made these years to remember: thank you for making me the person I am today. You gave me a community and a place
        on campus, and I will forever be grateful for that.
    </p>

    <p>
        Phi Sig at its heart is caught in a crisis of never knowing what exactly it is. What attracted me to it was that
        it seemed like this place that offered a route into so many different things, whether it be doing service or
        learning new things, all while offering a close-knit social community. It’s not merely a one-dimensional place.
        At the same time, I always tell PNMs that Phi Sig can be what you put into it. It has become my primary “thing”
        on campus, and I have chosen to dedicate my free time and energy to it, but it does not have to be that for
        everyone. It has given me things to put on my resume, allowed me to give back to my community, and taught me
        such varied things as salsa dancing and painting. It has, as I’ve said, given me friends and a community to last
        a lifetime. However, what Phi Sig sometimes fails to do is to distinguish between these various missions. Is it
        a primarily social organization which strikes out into the realms of service and scholarship? Is it an
        organization with higher goals that also allows its siblings to form a community and connections? I believe that
        it can be all of the above: a place for people to find a community of different people which allows them to grow
        by giving them opportunities to learn new things, serve their local community, and become leaders, all while
        meeting fantastic new people. It can be a place for people like me, who needed a place on campus, to be their
        thing and allow them to give back to it in turn, but it can also be an auxiliary piece to round out students and
        their college experiences. It is, however, no longer my place, and it’s up to you all to shape Phi Sig into the
        place you want it to be.
    </p>

    <p>
        I know that Phi Sig is in great hands for the future (and I hope it would, given that I’ve helped choose all of
        you). I am incredibly excited to see what the future holds for all of you as people and for Phi Sig as an
        organization. Continue to be the smart, motivated, layered, incredible souls I know all of you are. You provided
        me a light in my darkness, and I know that you will continue to do so for so many others. Make the most of every
        day. Take moments to breathe, and remember that you are all capable of greatness. Stay up all night talking with
        your friends sometimes, even if there's a lot going on. Hold your friends and family close and always know that
        you are worthy.
    </p>

    <p>
        It has been the honor of my life to serve you as your IT chair, IM/Rec chair, and, finally, Parliamentarian. I
        hope that I have done right by you all and Phi Sig and, along the way, that I perhaps put a smile on some of
        your faces or made some of you laugh. I am the person I am today because I met all of you. I will continue to be
        in the area next year, so please don’t be strangers. If you ever want to reach out to an old man, you can text
        me at (919)-622-5071 for any reason. Please take care of my baby.
    </p>

    <p>
        There’s a great quote I found recently:
    </p>

    <blockquote>
        “Do not be dismayed by the brokenness of the world. All things break, and all things can be mended, not with
        time, as they say, but with intention. So go. Love intentionally, extravagantly, unconditionally. The broken
        world waits in darkness for the light that is you.”
    </blockquote>

    <p>
        Though this may be the end of my journey at UNC, I will carry you all in my heart forever and I hope that this
        will not conclude our journeys together. I love you all, and as I like to say, my hope that this is not a
        goodbye, but a see you soon.
    </p>

    <p class="sig">
        Taylor
    </p>

    <p class="ps">
        P.S.: If you want something to laugh at in these uncertain times (buzzwords!), please watch my animated feature
        from freshman year: <a target="_blank" rel="noopener noreferrer"
            href="https://www.youtube.com/watch?v=DEqgqU17f40">LINK!</a>
    </p>

    <h1>
        Leah
    </h1>

    <p>
        I just wanted to say thank you to all of the shawties that made my time in phi sig truly memorable! This
        organization has given me so much - lifelong friends, gucci memories, and some more than ratchet moments - and
        I'm thankful for it all. I've learned so much about the world through my sibs' passions (shoutout ted talks, IP
        seminars, and just talks on the quad) and so much about myself (that my enneagram wing 8 helps a lot with
        hunting down people for fines) that I wouldn't have known without my three years in phi sig. But the most
        important thing that I've learned is that in whatever you do, do it 1000%. Phi sig is truly what you make of it
        - if you can be super involved, do it! You get out of it what you put into it. Sorry for this super sappy senior
        moment, but I really love you all and if you ever need a place to crash in ATL - this ATL hoe gotchu :') also,
        pay your fines shawties! gang gang!
    </p>

    <h1>
        Maris
    </h1>

    <p>
        First of all, I want you all to know how much I miss you. I could never have guessed that my senior year would
        end this way, and I have to share with you all that I am deeply sad about it. I’m sure every senior is feeling
        similarly at having missed out on these last few months with PSP, and at UNC more generally. To everyone being
        impacted by this awful and confusing time, my heart goes out to you. If there is anything I can do please let me
        know, and I hope we can all find comfort in our friends right now.
    </p>

    <p>
        If anything, this ordeal highlights what has been important to me in my college career. The people of this
        organization gave meaning to my time at UNC. When I joined this organization 4 years ago, I never thought I
        could form such amazing friendships and create the incredible memories that I have. I am absolutely BLESSED to
        have been your President and (more importantly) your friend. I will never stop being grateful for the way that
        you all have trusted me with your time, your passions, and your stories. You all have shown me (and taught me)
        patience, kindness, and love as I have never experienced before. It’s such a rewarding thing to see an
        organization flourish and change; every semester has been so different but they have all given me something to
        cherish! I have never felt so surrounded by love as when I was in this organization, and I will take this 4-year
        fever dream with me wherever I go.
    </p>

    <p>
        I’m so excited to see what you all go on to do and be! Your personalities, talents, work ethic, knowledge,
        capacity, and kindness inspire me EVERY DAY. Please know that wherever you go in life, you have a friend and a
        resource in me. Be nice to each other, continue to share your passions and be your authentic selves. Make Phi
        Sig into all that you want it to be! Take a leap, you won’t regret it.
    </p>

    <p class="sig">
        Much love,
    </p>
    <p>
        M
    </p>


</div>
{% endblock %}