{% extends 'root/base.html' %}

{% block head %}
{% load static %}
<style>

</style>
<link rel="stylesheet" type="text/css" href="{% static 'root/css/contact.css' %}">
{% endblock %}

{% block content %}
<div class="main-div">
    <h1>Contact Us</h1>

    <p class="italics">Looking for general information?</p>

    <p>Chapter President: <a target="_blank" rel="noopener noreferrer"
            href="mailto:pspakleadership@gmail.com">pspakleadership@gmail.com</a></p>

    <p class="italics">Looking for information on becoming a Sibling?</p>

    <p>Recruitment Chairs: <a target="_blank" rel="noopener noreferrer"
            href="mailto:pspakrecruitment@gmail.com">pspakrecruitment@gmail.com</a></p>

    <p class="italics">Another chapter wanting to do inter-chapter events</p>

    <p>ICR Chair (Yelly Gomes): <a target="_blank" rel="noopener noreferrer"
            href="mailto:ygomes27@live.unc.edu">ygomes27@live.unc.edu</a></p>
</div>
{% endblock %}