{% extends 'root/base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'root/css/contact.css' %}">
{% endblock %}

{% block content %}
<div class="main-div">
    <h1>Contact Us</h1>

    <p class="italics">Looking for general information?</p>

    <p>Chapter President: <a target="_blank" rel="noopener noreferrer"
            href="mailto:pspakleadership@gmail.com">pspakleadership@gmail.com</a></p>

    <p class="italics">Looking for information on becoming a Sibling?</p>

    <p>Recruitment Chairs: <a target="_blank" rel="noopener noreferrer"
            href="mailto:pspakrecruitment@gmail.com">pspakrecruitment@gmail.com</a></p>

    <p class="italics">Another chapter wanting to do inter-chapter events?</p>

    <p>ICR Chair (Yelly Gomes): <a target="_blank" rel="noopener noreferrer"
            href="mailto:akphisigicr@gmail.com">akphisigicr@gmail.com</a></p>

    <h2>Faculty Advisor</h2>

    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img src="{% static 'root/img/exec/allie.jpg' %}">
            </div>
            <div class="header-text">
                <h1>Faculty Advisor</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Name</h3>
                <p>Allie Barton</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>
                    As a club at UNC, Phi Sig requires a Faculty Advisor. As an alumna of Phi Sig and UNC, Allie is the
                    perfect choice to serve as the liaison between the UNC faculty and the Chapter.
                </p>
            </div>
            <div class="card-row">
                <h3>Contact</h3>
                <div>
                    <p><a target="_blank" rel="noopener noreferrer"
                            href="mailto:bartonae@email.unc.edu">bartonae@email.unc.edu</a></p>
                </div>
            </div>
        </div>
    </div>

    <h2>Executive Board</h2>

    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img src="{% static 'root/img/exec/maris.jpg' %}">
            </div>
            <div class="header-text">
                <h1>President</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Name</h3>
                <p>Maris Thomson</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>The President is the highest office of and official representative of the Alpha Kappa Chapter. They
                    preside over all meetings of the Chapter and serve as the Risk Management Advisor.</p>
            </div>
            <div class="card-row">
                <h3>Contact</h3>
                <div>
                    <p><a target="_blank" rel="noopener noreferrer"
                            href="mailto:pspakleadership@gmail.com">pspakleadership@gmail.com</a></p>
                    <br />
                    <p><a target="_blank" rel="noopener noreferrer" href="mailto:maris@unc.edu">maris@unc.edu</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img src="{% static 'root/img/exec/isabel.jfif' %}">
            </div>
            <div class="header-text">
                <h1>Vice President</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Name</h3>
                <p>Isabel Ghica</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>
                    The Vice President performs all duties of the President in their absence. They also oversee all Phi
                    Sig's Chairs and their Committees.
                </p>
            </div>
            <div class="card-row">
                <h3>Contact</h3>
                <div>
                    <p><a target="_blank" rel="noopener noreferrer"
                            href="mailto:pspakleadership@gmail.com">pspakleadership@gmail.com</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img src="{% static 'root/img/exec/taylor.png' %}">
            </div>
            <div class="header-text">
                <h1>Parliamentarian</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Name</h3>
                <p>Taylor Smith</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>
                    The Parliamentarian interprets the various laws and documents governing our chapter; they also
                    maintain a localized version of Robert's Rules of Order and preside over the Chapter in the absence
                    of the President and Vice President.
                </p>
            </div>
            <div class="card-row">
                <h3>Contact</h3>
                <div>
                    <p><a target="_blank" rel="noopener noreferrer"
                            href="mailto:pspakparliamentarian@gmail.com">pspakparliamentarian@gmail.com</a></p>
                    <br />
                    <p><a target="_blank" rel="noopener noreferrer"
                            href="mailto:tas127@live.unc.edu">tas127@live.unc.edu</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img src="{% static 'root/img/exec/justin.jpg' %}">
            </div>
            <div class="header-text">
                <h1>Treasurer</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Name</h3>
                <p>Justin Do</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>The Treasurer presides over the Chapter's budget, including paying all debts and expenses and keeping
                    accurate record of Fraternity accounts. They preside over meetings in the absence of the President,
                    Vice President, and Paraliamentarian.</p>
            </div>
            <div class="card-row">
                <h3>Contact</h3>
                <div>
                    <p><a target="_blank" rel="noopener noreferrer"
                            href="mailto:pspaktreasurer@gmail.com">pspaktreasurer@gmail.com</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img src="{% static 'root/img/exec/leah.jfif' %}">
            </div>
            <div class="header-text">
                <h1>Recording Secretary</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Name</h3>
                <p>Leah Idichandy</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>The Recording Secretary keeps a record of all Executive Board and Chapter meetings in the form of
                    minutes and is responsible for attendance records.</p>
            </div>
            <div class="card-row">
                <h3>Contact</h3>
                <div>
                    <p>
                        <a target="_blank" rel="noopener noreferrer" href="mailto:pspakrecords@gmail.com">
                            pspakrecords@gmail.com
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img src="{% static 'root/img/exec/justis.jpg' %}">
            </div>
            <div class="header-text">
                <h1>Corresponding Secretary</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Name</h3>
                <p>Justis Mitchell</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>The Corresponding Secretary is responsible for all correspondance pertaining to the Chapter and the
                    National Organization and compiles and maintains all membership lists.</p>
            </div>
            <div class="card-row">
                <h3>Contact</h3>
                <div>
                    <p>
                        <a target="_blank" rel="noopener noreferrer" href="mailto:pspakrecords@gmail.com">
                            pspakrecords@gmail.com
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img src="{% static 'root/img/exec/olivia.png' %}">
            </div>
            <div class="header-text">
                <h1>Historian</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Name</h3>
                <p>Olivia Burston</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>The Historian shall keep, preserve, and protect local Chapter history and correspond with the
                    National Historian.</p>
            </div>
            <div class="card-row">
                <h3>Contact</h3>
                <div>
                    <p>
                        <a target="_blank" rel="noopener noreferrer" href="mailto:phisighistorian@gmail.com">
                            phisighistorian@gmail.com
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img class="multi" src="{% static 'root/img/exec/libby.png' %}">
                <img class="multi" src="{% static 'root/img/exec/sarah.jfif' %}">
            </div>
            <div class="header-text">
                <h1>Initiate Advisors</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Names</h3>
                <p>Libby Lang, Sarah Stephens</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>The Initiate Advisors are responsible for the planning and implementation of the Initiation Program,
                    for reviewing and updating the Initiation Program, and ensuring that it follows all National and
                    Chapter rules and regulations.</p>
            </div>
            <div class="card-row">
                <h3>Contact</h3>
                <div>
                    <p>
                        <a target="_blank" rel="noopener noreferrer" href="mailto:pspteamia@gmail.com">
                            pspteamia@gmail.com
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img class="multi" src="{% static 'root/img/exec/yelly.jpg' %}">
                <img class="multi" src="{% static 'root/img/exec/elizabeth.png' %}">
            </div>
            <div class="header-text">
                <h1>Mediators</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Names</h3>
                <p>Yelly Gomes, Elizabeth Wilson</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>The Mediators mediate disputes between Siblings and Initiates, uphold the principles of Subrosa, and
                    act as impartial representatives on the Executive Board.</p>
            </div>
            <div class="card-row">
                <h3>Contact</h3>
                <div>
                    <p>
                        <a target="_blank" rel="noopener noreferrer" href="mailto:pspmediators@gmail.com">
                            pspmediators@gmail.com
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img src="{% static 'root/img/exec/janis.jfif' %}">
            </div>
            <div class="header-text">
                <h1>New Class Representative</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Name</h3>
                <p>Janis Arrojado</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>The New Class Representative serves as the liaison between the newest Phi Sig recruitment class and
                    the executive board. They ensure that the newest Initiates are making a smooth transition into the
                    Chapter and organize events like a social between new members and Siblings who were abroad.</p>
            </div>
        </div>
    </div>

    <h2 id="committee-header">Committee Chairs</h2>

    <!-- Scholarship, Fellowship, PR, Service, Recruitment, Alumni, IT, IM/Rec, IP, Standards -->
    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img class="multi" src="{% static 'root/img/chairs/melfi.jpg' %}">
                <img class="multi" src="{% static 'root/img/chairs/megan.jfif' %}">
            </div>
            <div class="header-text">
                <h1>Scholarship</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Names</h3>
                <p>Elliot Melfi, Megan Ragusa</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>The Scholarship Committee plans and carries out all projects which will emphasize the academic and
                    intellectual portion of the Tripod.</p>
            </div>
            <div class="card-row">
                <h3>Contact</h3>
                <div>
                    <p>
                        <a target="_blank" rel="noopener noreferrer" href="mailto:squirrels4scholarship@gmail.com">
                            squirrels4scholarship@gmail.com
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img class="multi" src="{% static 'root/img/chairs/abby.jpg' %}">
                <img class="multi" src="{% static 'root/img/chairs/megan.jfif' %}">
            </div>
            <div class="header-text">
                <h1>Fellowship</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Names</h3>
                <p>Abby Carey-Ewend, Megan Ragusa</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>The Fellowship Committee plans all social functions for Alpha Kappa Chapter, including Semi-Formal,
                    Mountain Weekend, and Formal.</p>
            </div>
            <div class="card-row">
                <h3>Contact</h3>
                <div>
                    <p>
                        <a target="_blank" rel="noopener noreferrer" href="mailto:pspakfellowship@gmail.com">
                            pspakfellowship@gmail.com
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img class="multi" src="{% static 'root/img/chairs/natalie.jfif' %}">
                <img class="multi" src="{% static 'root/img/chairs/alley.jfif' %}">
            </div>
            <div class="header-text">
                <h1>PR</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Names</h3>
                <p>Natalie Rinehard, Alley Steele</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>The Public Relations Committee promotes the ideals and activities of Alpha Kappa Chapter to the
                    community at large, including by curating the Chapter's various social media pages.</p>
            </div>
            <div class="card-row">
                <h3>Contact</h3>
                <div>
                    <p>
                        <a target="_blank" rel="noopener noreferrer" href="mailto:wearepralphakappa@gmail.com">
                            wearepralphakappa@gmail.com
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img class="multi" src="{% static 'root/img/chairs/pmoney.jpg' %}">
                <img class="multi" src="{% static 'root/img/chairs/anne.jpg' %}">
            </div>
            <div class="header-text">
                <h1>Service</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Names</h3>
                <p>Pranesh Gayam, Anne Majerus</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>The Service Committee plans service projects for the Alpha Kappa Chapter and community, including the
                    annual Battle of the Bands and Special Olympicis.</p>
            </div>
            <div class="card-row">
                <h3>Contact</h3>
                <div>
                    <p>
                        <a target="_blank" rel="noopener noreferrer" href="mailto:pspakservice@gmail.com">
                            pspakservice@gmail.com
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img class="multi" src="{% static 'root/img/chairs/fran.jfif' %}">
                <img class="multi" src="{% static 'root/img/chairs/callie.jfif' %}">
            </div>
            <div class="header-text">
                <h1>Recruitment</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Names</h3>
                <p>Francisco Cantu, Callie Kirchstein</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>The Recruitment Committee plans and implements the Recruitment Period and all events thereof.</p>
            </div>
            <div class="card-row">
                <h3>Contact</h3>
                <div>
                    <p>
                        <a target="_blank" rel="noopener noreferrer" href="mailto:pspakrecruitment@gmail.com">
                            pspakrecruitment@gmail.com
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img class="multi" src="{% static 'root/img/chairs/fran.jfif' %}">
                <img class="multi" src="{% static 'root/img/exec/justis.jpg' %}">
            </div>
            <div class="header-text">
                <h1>Alumni</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Names</h3>
                <p>Francisco Cantu, Justis Mitchell</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>The Alumni Committee maintains relations with Alpha Kappa Chapter alumni</p>
            </div>
            <div class="card-row">
                <h3>Contact</h3>
                <div>
                    <p>
                        <a target="_blank" rel="noopener noreferrer" href="">
                            Lorem ipsum dolor est.
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img class="multi" src="{% static 'root/img/exec/justin.jpg' %}">
                <img class="multi" src="{% static 'root/img/exec/taylor.png' %}">
            </div>
            <div class="header-text">
                <h1>IT</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Names</h3>
                <p>Justin Do, Taylor Smith</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>The IT Committee performs all duties relating to Alpha Kappa Chapter's technological infrastructure,
                    including voting, maintaining and improving this website, and developing various other ancillary
                    projects.</p>
            </div>
            <div class="card-row">
                <h3>Contact</h3>
                <div>
                    <p>
                        <a target="_blank" rel="noopener noreferrer" href="mailto:phisiginfotech@gmail.com">
                            phisiginfotech@gmail.com
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img class="multi" src="{% static 'root/img/chairs/alex.jpg' %}">
                <img class="multi" src="{% static 'root/img/chairs/pmoney.jpg' %}">
            </div>
            <div class="header-text">
                <h1>IM/Rec</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Names</h3>
                <p>Alex Erling, Pranesh Gayam</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>
                    The IM/Rec Committee plans all recreational activities for Alpha Kappa Chapter, including organizing
                    intramural teams, executing events like the Turkey Bowl, and implementing a workout buddy program.
                </p>
            </div>
            <div class="card-row">
                <h3>Contact</h3>
                <div>
                    <p>
                        <a target="_blank" rel="noopener noreferrer" href="">
                            Lorem ipsum dolor est.
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img src="{% static 'root/img/exec/maris.jpg' %}">
            </div>
            <div class="header-text">
                <h1>Intentional Programming</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Name</h3>
                <p>Maris Thomson</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>
                    The Intentional Programming Committee is responsible for upholding Alpha Kappa Chapter's commitment
                    to inclusion and non-discrimination.</p>
            </div>
            <div class="card-row">
                <h3>Contact</h3>
                <div>
                    <p>
                        <a target="_blank" rel="noopener noreferrer" href="">
                            Lorem ipsum dolor est.
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img src="{% static 'root/img/chairs/adam.jfif' %}">
            </div>
            <div class="header-text">
                <h1>Standards</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Name</h3>
                <p>Adam Jordan</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>
                    The Standards Committee maintains the points of the House System and acts as the House System
                    Coordinator.
                </p>
            </div>
            <div class="card-row">
                <h3>Contact</h3>
                <p>
                    <a target="_blank" rel="noopener noreferrer" href="mailto:phisigexcuses@gmail.com">
                        phisigexcuses@gmail.com
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img src="{% static 'root/img/exec/yelly.jpg' %}">
            </div>
            <div class="header-text">
                <h1>Inter-Chapter Representative (ICR)</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Name</h3>
                <p>Yelly Gomes</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>
                    The ICR and their committee serve as a point of contact with other chapters and organize events
                    which include other chapters, especially in North Carolina like those at NC State, UNC-Greensboro,
                    or ECU. They organize events like an outing to the State Fair and in the past have invited other
                    smaller chapters to our semi-formals or formals.
                </p>
            </div>
            <div class="card-row">
                <h3>Contact</h3>
                <p>
                    <a target="_blank" rel="noopener noreferrer" href="mailto:akphisigicr@gmail.com">
                        akphisigicr@gmail.com
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}