{% extends 'root/base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'root/css/contact.css' %}">
{% endblock %}

{% block content %}
<div class="main-div">
    <h1>Contact Us</h1>

    <p class="italics">Looking for general information?</p>

    <p>Chapter President: <a target="_blank" rel="noopener noreferrer"
            href="mailto:pspakleadership@gmail.com">pspakleadership@gmail.com</a></p>

    <p class="italics">Looking for information on becoming a Sibling?</p>

    <p>Recruitment Chairs: <a target="_blank" rel="noopener noreferrer"
            href="mailto:pspakrecruitment@gmail.com">pspakrecruitment@gmail.com</a></p>

    <p class="italics">Another chapter wanting to do inter-chapter events?</p>

    <p>ICR Chair (Yelly Gomes): <a target="_blank" rel="noopener noreferrer"
            href="mailto:akphisigicr@gmail.com">akphisigicr@gmail.com</a></p>

    <h2>Faculty Advisor</h2>

    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img src="{% static 'root/img/exec/allie.jpg' %}">
            </div>
            <div class="header-text">
                <h1>Faculty Advisor</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Name</h3>
                <p>Allie Barton</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>
                    As a club at UNC, Phi Sig requires a Faculty Advisor. As an alumna of Phi Sig and UNC, Allie is the
                    perfect choice to serve as the liaison between the UNC faculty and the Chapter.
                </p>
            </div>
            <div class="card-row">
                <h3>Contact</h3>
                <div>
                    <p><a target="_blank" rel="noopener noreferrer"
                            href="mailto:bartonae@email.unc.edu">bartonae@email.unc.edu</a></p>
                </div>
            </div>
        </div>
    </div>

    <h2>Executive Board</h2>

    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img src="{% static 'root/img/exec/Lauren.jpg' %}">
            </div>
            <div class="header-text">
                <h1>President</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Name</h3>
                <p>Lauren Hutson</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>The President is the highest office of and official representative of the Alpha Kappa Chapter. They
                    preside over all meetings of the Chapter and serve as the Risk Management Advisor.</p>
            </div>
            <div class="card-row">
                <h3>Contact</h3>
                <div>
                    <p><a target="_blank" rel="noopener noreferrer"
                            href="mailto:pspakleadership@gmail.com">pspakleadership@gmail.com</a></p>
                    <br />
                </div>
            </div>
        </div>
    </div>

    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img src="{% static 'root/img/exec/will.jpg' %}">
            </div>
            <div class="header-text">
                <h1>Vice President</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Name</h3>
                <p>Will Bucher</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>
                    The Vice President performs all duties of the President in their absence. They also oversee all Phi
                    Sig's Chairs and their Committees.
                </p>
            </div>
            <div class="card-row">
                <h3>Contact</h3>
                <div>
                    <p><a target="_blank" rel="noopener noreferrer"
                            href="mailto:pspakleadership@gmail.com">pspakleadership@gmail.com</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img src="{% static 'root/img/exec/madeline.jpg' %}">
            </div>
            <div class="header-text">
                <h1>Parliamentarian</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Name</h3>
                <p>Madeline Chandler</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>
                    The Parliamentarian interprets the various laws and documents governing our chapter; they also
                    maintain a localized version of Robert's Rules of Order and preside over the Chapter in the absence
                    of the President and Vice President.
                </p>
            </div>
            <div class="card-row">
                <h3>Contact</h3>
                <div>
                    <p><a target="_blank" rel="noopener noreferrer"
                            href="mailto:pspakparliamentarian@gmail.com">pspakparliamentarian@gmail.com</a></p>
                    <br />
                </div>
            </div>
        </div>
    </div>

    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img src="{% static 'root/img/chairs/annie.jpg' %}">
            </div>
            <div class="header-text">
                <h1>Treasurer</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Name</h3>
                <p>Annie Ferry</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>The Treasurer presides over the Chapter's budget, including paying all debts and expenses and keeping
                    accurate record of Fraternity accounts. They preside over meetings in the absence of the President,
                    Vice President, and Paraliamentarian.</p>
            </div>
            <div class="card-row">
                <h3>Contact</h3>
                <div>
                    <p><a target="_blank" rel="noopener noreferrer"
                            href="mailto:pspaktreasurer@gmail.com">pspaktreasurer@gmail.com</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img src="{% static 'root/img/exec/spencer.jpg' %}">
            </div>
            <div class="header-text">
                <h1>Recording Secretary</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Name</h3>
                <p>Spencer Dalton</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>The Recording Secretary keeps a record of all Executive Board and Chapter meetings in the form of
                    minutes and is responsible for attendance records.</p>
            </div>
            <div class="card-row">
                <h3>Contact</h3>
                <div>
                    <p>
                        <a target="_blank" rel="noopener noreferrer" href="mailto:pspakrecords@gmail.com">
                            pspakrecords@gmail.com
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img src="{% static 'root/img/exec/tyler.jpg' %}">
            </div>
            <div class="header-text">
                <h1>Corresponding Secretary</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Name</h3>
                <p>Tyler Johnson</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>The Corresponding Secretary is responsible for all correspondance pertaining to the Chapter and the
                    National Organization and compiles and maintains all membership lists.</p>
            </div>
            <div class="card-row">
                <h3>Contact</h3>
                <div>
                    <p>
                        <a target="_blank" rel="noopener noreferrer" href="mailto:pspakrecords@gmail.com">
                            pspakrecords@gmail.com
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img src="{% static 'root/img/exec/madeliner.jpg' %}">
            </div>
            <div class="header-text">
                <h1>Historian</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Name</h3>
                <p>Madeline Richarson</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>The Historian shall keep, preserve, and protect local Chapter history and correspond with the
                    National Historian.</p>
            </div>
            <div class="card-row">
                <h3>Contact</h3>
                <div>
                    <p>
                        <a target="_blank" rel="noopener noreferrer" href="mailto:phisighistorian@gmail.com">
                            phisighistorian@gmail.com
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img class="multi" src="{% static 'root/img/chairs/sarah.jpg' %}">
                <img class="multi" src="{% static 'root/img/exec/emily.jpg' %}">
            </div>
            <div class="header-text">
                <h1>Initiate Advisors</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Names</h3>
                <p>Emily Murray and Sarah Smith</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>The Initiate Advisors are responsible for the planning and implementation of the Initiation Program,
                    for reviewing and updating the Initiation Program, and ensuring that it follows all National and
                    Chapter rules and regulations.</p>
            </div>
            <div class="card-row">
                <h3>Contact</h3>
                <div>
                    <p>
                        <a target="_blank" rel="noopener noreferrer" href="mailto:pspteamia@gmail.com">
                            pspteamia@gmail.com
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img src="{% static 'root/img/exec/chelsea.jpg' %}">
                <img src="{% static 'root/img/exec/lee.jpg' %}">
            </div>
            <div class="header-text">
                <h1>Mediators</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Names</h3>
                <p>Lee Caulder and Chelsea Parra</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>The Mediator mediates disputes between Siblings and Initiates, uphold the principles of Subrosa, and
                    act as an impartial representative on the Executive Board.</p>
            </div>
            <div class="card-row">
                <h3>Contact</h3>
                <div>
                    <p>
                        <a target="_blank" rel="noopener noreferrer" href="mailto:pspmediators@gmail.com">
                            pspmediators@gmail.com
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img src="{% static 'root/img/exec/blank.png' %}">
            </div>
            <div class="header-text">
                <h1>New Class Representative</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Name</h3>
                <p>Taylor Hernandez</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>The New Class Representative serves as the liaison between the newest Phi Sig recruitment class and
                    the executive board. They ensure that the newest Initiates are making a smooth transition into the
                    Chapter and organize events like a social between new members and Siblings who were abroad.</p>
            </div>
        </div>
    </div>

    <h2 id="committee-header">Committee Chairs</h2>

    <!-- Scholarship, Fellowship, PR, Service, Recruitment, Alumni, IT, IM/Rec, IP, Standards -->
    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img src="{% static 'root/img/exec/blank.png' %}">
                <img src="{% static 'root/img/exec/blank.png' %}">
            </div>
            <div class="header-text">
                <h1>Scholarship</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Names</h3>
                <p>Abby Gillis and Katie Wyatt</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>The Scholarship Committee plans and carries out all projects which will emphasize the academic and
                    intellectual portion of the Tripod.</p>
            </div>
            <div class="card-row">
                <h3>Contact</h3>
                <div>
                    <p>
                        <a target="_blank" rel="noopener noreferrer" href="mailto:squirrels4scholarship@gmail.com">
                            squirrels4scholarship@gmail.com
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img class="multi" src="{% static 'root/img/exec/yelly.jpg' %}">
                <img class="multi" src="{% static 'root/img/exec/blank.png' %}">
            </div>
            <div class="header-text">
                <h1>Fellowship</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Names</h3>
                <p>Cecilia Taylor and Yelly Gomes</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>The Fellowship Committee plans all social functions for Alpha Kappa Chapter, including Semi-Formal,
                    Mountain Weekend, and Formal.</p>
            </div>
            <div class="card-row">
                <h3>Contact</h3>
                <div>
                    <p>
                        <a target="_blank" rel="noopener noreferrer" href="mailto:pspakfellowship@gmail.com">
                            pspakfellowship@gmail.com
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img class="multi" src="{% static 'root/img/exec/madeliner.jpg' %}">
            </div>
            <div class="header-text">
                <h1>PR</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Name</h3>
                <p>Madeline Richardson</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>The Public Relations Committee promotes the ideals and activities of Alpha Kappa Chapter to the
                    community at large, including by curating the Chapter's various social media pages.</p>
            </div>
            <div class="card-row">
                <h3>Contact</h3>
                <div>
                    <p>
                        <a target="_blank" rel="noopener noreferrer" href="mailto:wearepralphakappa@gmail.com">
                            wearepralphakappa@gmail.com
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img src="{% static 'root/img/chairs/margaret.jpg' %}">
                <img src="{% static 'root/img/exec/blank.png' %}">
            </div>
            <div class="header-text">
                <h1>Service</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Names</h3>
                <p>Margaret Hubacher and Justin Baynes</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>The Service Committee plans service projects for the Alpha Kappa Chapter and community, including the
                    annual Battle of the Bands and Special Olympicis.</p>
            </div>
            <div class="card-row">
                <h3>Contact</h3>
                <div>
                    <p>
                        <a target="_blank" rel="noopener noreferrer" href="mailto:pspakservice@gmail.com">
                            pspakservice@gmail.com
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img src="{% static 'root/img/chairs/annie.jpg' %}">
                <img src="{% static 'root/img/exec/blank.png' %}">
            </div>
            <div class="header-text">
                <h1>Recruitment</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Names</h3>
                <p>Annie Ferry and Zach Jackson</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>The Recruitment Committee plans and implements the Recruitment Period and all events thereof.</p>
            </div>
            <div class="card-row">
                <h3>Contact</h3>
                <div>
                    <p>
                        <a target="_blank" rel="noopener noreferrer" href="mailto:pspakrecruitment@gmail.com">
                            pspakrecruitment@gmail.com
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img src="{% static 'root/img/exec/blank.png' %}">
            </div>
            <div class="header-text">
                <h1>Alumni</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Name</h3>
                <p>Savannah McCabe</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>The Alumni Committee maintains relations with Alpha Kappa Chapter alumni</p>
            </div>
            <div class="card-row">
                <h3>Contact</h3>
                <div>
                    <p>
                        <a target="_blank" rel="noopener noreferrer" href="">
                            Lorem ipsum dolor est.
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img src="{% static 'root/img/chairs/mlien.jpeg' %}">
            </div>
            <div class="header-text">
                <h1>IT</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Name</h3>
                <p>Milen Patel</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>The IT Committee performs all duties relating to Alpha Kappa Chapter's technological infrastructure,
                    including voting, maintaining and improving this website, and developing various other ancillary
                    projects.</p>
            </div>
            <div class="card-row">
                <h3>Contact</h3>
                <div>
                    <p>
                        <a target="_blank" rel="noopener noreferrer" href="mailto:phisiginfotech@gmail.com">
                            phisiginfotech@gmail.com
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img src="{% static 'root/img/exec/blank.png' %}">
                <img class = "multi" src="{% static 'root/img/exec/chelsea.jpg' %}">
            </div>
            <div class="header-text">
                <h1>Intentional Programming</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Names</h3>
                <p>Maya Cauthen and Chelsea Parra</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>
                    The Intentional Programming Committee is responsible for upholding Alpha Kappa Chapter's commitment
                    to inclusion and non-discrimination.</p>
            </div>
            <div class="card-row">
                <h3>Contact</h3>
                <div>
                    <p>
                        <a target="_blank" rel="noopener noreferrer" href="">
                            Lorem ipsum dolor est.
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img src="{% static 'root/img/chairs/anna.jpg' %}">
            </div>
            <div class="header-text">
                <h1>Standards</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Name</h3>
                <p>Anna Herbert</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>
                    The Standards Committee maintains the points of the House System and acts as the House System
                    Coordinator.
                </p>
            </div>
            <div class="card-row">
                <h3>Contact</h3>
                <p>
                    <a target="_blank" rel="noopener noreferrer" href="mailto:phisigexcuses@gmail.com">
                        phisigexcuses@gmail.com
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="contact-card">
        <div class="contact-card-header">
            <div class="img-section">
                <img class = "multi" src="{% static 'root/img/exec/chelsea.jpg' %}">
            </div>
            <div class="header-text">
                <h1>Inter-Chapter Representative (ICR)</h1>
            </div>
        </div>
        <div class="contact-card-content">
            <div class="card-row">
                <h3>Name</h3>
                <p>Chelsea Parra</p>
            </div>
            <div class="card-row">
                <h3>Description</h3>
                <p>
                    The ICR and their committee serve as a point of contact with other chapters and organize events
                    which include other chapters, especially in North Carolina like those at NC State, UNC-Greensboro,
                    or ECU. They organize events like an outing to the State Fair and in the past have invited other
                    smaller chapters to our semi-formals or formals.
                </p>
            </div>
            <div class="card-row">
                <h3>Contact</h3>
                <p>
                    <a target="_blank" rel="noopener noreferrer" href="mailto:akphisigicr@gmail.com">
                        akphisigicr@gmail.com
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
